/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
}

#left {
  color: white;
  background: #666;
  float: left;
  width: 33%;
  line-height: 300%;
  margin-bottom: 20px;

}

#middle {
  color: white;
  background: #888;
  float: left;
  width: 34%;
  line-height: 300%;
}

#right {
  color: white;
  background: #666;
  float: left;
  width: 33%;
  line-height: 300%;
}

#full {
  background: #eee;
  height: 400px;
  padding: 20px;
  margin-bottom: 20px;
}

#division {
  background: #6ea3da;
  line-height: 300%;
}

aside {
  background: #fff;
  float: left;
  height: 300px;
  width: 300px;
  padding: 20px;
  margin-left: 20px;
}

footer {
  background: #ccc;
  line-height: 300%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}